[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
flake8-black = "*"
flake8-bugbear = "*"
black = "*"
localstack = "*"

[requires]
python_version = "3.10"
